@font-face {
  font-family: "Hermes";
  src: url(../Include/Hermes-Regular.ttf) format("truetype");
}

#angle_rond {
    font-family: Arial, sans-serif;
    width: 1024px;
    position:relative; 	
    left:50%;
    margin:0 0 0 -512px;
    background: #fff; /* ne pas changer */
    margin-top: 20px;
    padding: 0px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    border-radius: 8px;
}

.header {
    margin-left: auto;
    margin-right: auto;
    padding-top: 7px;
    border-radius: 8px;
}

.titre {
    margin-top: 60px;
    padding-left: 240px;
    color: white;
    font-family: "Hermes", sans-serif;
    font-size: 28px;
    text-shadow: 0px 1px 1px #aaa;
}

.sous_titre {
    margin-top:20px;
    padding-left: 470px;
    color: white;
    font-family: "Hermes", sans-serif;
    font-size: 20px;
    font-style: italic;
    text-shadow: 0px 1px 1px #aaa;
}

.droite {
    float: right;
    margin-right: 30px;
}

.centrer {
    text-align:center;
}

input[type=text]{
    border:0px;
    border-radius: 4px;
    box-shadow: inset 0px 0px 2px rgba(0,0,0,0.5);
}

input[type=email]{
    border:0px;
    border-radius: 4px;
    box-shadow: inset 0px 0px 2px rgba(0,0,0,0.5);
}

input[type=password]{
    border:0px;
    border-radius: 4px;
    box-shadow: inset 0px 0px 2px rgba(0,0,0,0.5);
}

input[type=submit]{
    color:#eee;
    font-family:sans-serif;
    text-shadow: 0px 1px 1px #000;
    font-size:13px;
    padding:5px 12px;
    cursor:pointer;
    background:url(../Images/input_bg.png);
    font-weight:bold;
    border: none;
    border:1px solid #3f2f83;
    outline:none;
    border-radius: 4px;
}

input[type=submit]:hover{
    background-position:0px -50px;
}

input[type=submit]:active{
    background-position:0px -100px;
    text-shadow: 0px 0px 1px #000;
}

input#recherche{
    padding:5px 5px;
    padding-left:30px;
    margin-top: 20px;
    background:url(../Images/search.png) no-repeat 8px center #fff;
    border:0px;
    border-radius: 4px;
    box-shadow: inset 0px 0px 2px rgba(0,0,0,0.5);
}

/*.menu {
    margin-top: 45px;
    padding-left: 40px;
    background:url(../images/input_bg.png);
    float:left;
    font-weight:bold;
    border-top:1px solid rgba(0,0,0,0.5);
    border-bottom:1px solid rgba(0,0,0,0.5);
    font-size:13px;
    width: 984px;
}

.menu ul {
    list-style: none;
    margin: 0;
}

.menu li {
    float: left;
    position: relative;
    border-left: 1px solid rgba(0,0,0,0.5);
}

.menu a {
    color: #FFFFFF;
    display: block;
    line-height: 40px;
    padding: 0 10px;
    text-decoration: none;
}

.menu ul ul {
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 180px;
}

.menu ul ul li {
    min-width: 180px;
    left : -41px;
}

.menu ul ul ul {
    left: 100%;
    top: 0;
}

.menu ul ul a {
    background:url(../images/input_bg.png);
    line-height: 1em;
    padding: 10px;
    width: 200px;
    height: auto;
}

.menu ul :hover > a {
    background:url(../images/input_bg.png);
    background-position:0px -50px;
    color: #000000;
}

.menu ul ul :hover > a {
    background:url(../images/input_bg.png);
    background-position:0px -50px;
    color: #000000;
}

.menu ul li:hover > ul {
    display: block;
}
*/

.menu {
    margin-top: 45px;
    padding-left: 20px;
    background: url(../Images/input_bg.png);
    display: block;
    float: left;
    font-weight: bold;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 12px;
    width: 1004px;
}

.menu ul {
    padding-left: 8px;
    list-style: none;
    margin: 0;
}

.menu li {
    float: left;
    position: relative;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.menu a {
    color: #FFFFFF;
    display: block;
    line-height: 40px;
    padding: 0 10px;
    text-decoration: none;
}

.menu ul ul {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 180px;
}

.menu ul ul li {
    min-width: 180px;
    left: -41px;
}

.menu ul ul ul {
    left: 100%;
    top: 0;
}

.menu ul ul a {
    background: url(../Images/input_bg.png);
    line-height: 1em;
    padding: 10px;
    width: 200px;
    height: auto;
}

.menu ul :hover > a {
    background: url(../Images/input_bg.png);
    background-position: 0px -50px;
    color: #000000;
}

.menu ul ul :hover > a {
    background: url(../Images/input_bg.png);
    background-position: 0px -50px;
    color: #000000;
}

.menu ul li:hover > ul {
    display: block;
}


body {
    background-color: #BCBCE7; /* fond de la page */
}

.titre_corps {
    font-family: Arial, sans-serif;
    font-size:30px;
    text-shadow: 0px 1px 1px #444;
    color:#871641; /* Couleur prune */
    letter-spacing:1px;
}

.sous_titre_corps {
    font-family: Arial, sans-serif;
    font-size:20px;
    text-shadow: 0px 1px 1px #444;
    color:#871641; /* Couleur prune */
    letter-spacing:1px;
}

#content #corps {
    float: left;
    width: 724px;
    font-family: Arial, sans-serif;
    font-size:14px;
    color:#871641;
    text-align: justify;
    background:url(../Images/main_bg.png) repeat-x left top;
}
#content #menuLeft{
    float: left;
    width: 280px;
    padding: 10px;

}

#reduction{
    font-size: 40px;
}

#content.close #menuLeft{
    width: 40px;
}

#content.close #corps{
    width: 964px;
}

#content.close #menuContent{
    display: none;
}



.footer {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    background: #871641; /* fond prune */
    color: white; /* texte blanc*/
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}